@define-color font          rgb (205, 214, 244);
@define-color dim-font      rgb (186, 194, 222);
@define-color active-font   rgb (137, 180, 250);
@define-color base          rgb (24, 24, 37);
@define-color good          rgb (166, 227, 161);
@define-color urgent        rgb (243, 139, 168);
@define-color warning       rgb(249, 226, 175);

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}

window#waybar {
    background-color: @base;
}

.modules-left {
    padding-left: 20px;
}

.modules-right {
    padding-right: 20px;
}

#workspaces button {
    padding-left: 0px;
    padding-right: 2em;
    padding-top: 0px;
}

button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    border-color: transparent;
    color: #526e5d;
    font-weight: bold;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: @font;
}

#workspaces button.active {
    font-weight: bolder;
    color: @active-font;
}

#workspaces button.focused {
    color: #6f9d88;
    font-weight: bold;
}

#clock {
    color: @font;
    padding-right: 3px;
}

#battery {
    color: @font;
}

#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @urgent;
}

#battery.charging {
  color: @good;
}

#backlight {
    color: @font;
}

#mpris {
    color: @font;
    padding-right: 3px;
}

#tray {
    color: @font;
    margin-left: 7px;
}

#pulseaudio {
    color: @font;
    padding-right: 9px;
}